<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Ex1_Servlet</display-name>
    <servlet-name>Ex1_Servlet</servlet-name>
    <servlet-class>am.Ex1_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex1_Servlet</servlet-name>
    <url-pattern>/ex1</url-pattern>
  </servlet-mapping>
  <display-name>Ex20240522</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ex2_Servlet</display-name>
    <servlet-name>Ex2_Servlet</servlet-name>
    <servlet-class>am.Ex2_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex2_Servlet</servlet-name>
    <url-pattern>/ex2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex3Servlet</display-name>
    <servlet-name>Ex3Servlet</servlet-name>
    <servlet-class>am.Ex3_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex3Servlet</servlet-name>
    <url-pattern>/ex3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex4_Servlet</display-name>
    <servlet-name>Ex4_Servlet</servlet-name>
    <servlet-class>am.Ex4_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex4_Servlet</servlet-name>
    <url-pattern>/ex4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex5_Servlet</display-name>
    <servlet-name>Ex5_Servlet</servlet-name>
    <servlet-class>am.Ex5_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex5_Servlet</servlet-name>
    <url-pattern>/ex5</url-pattern>
  </servlet-mapping>
</web-app>